3-anno/programmazione-distribuita/previous-exams/sanremo/SanremoWebClient/SanremoWebClient/src/META-INF/wsdl/localhost_8080/CanzoneEJBService/CanzoneEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://canzoneSanremo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://canzoneSanremo/" name="CanzoneEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://canzoneSanremo/" schemaLocation="http://localhost:8080/CanzoneEJBService/CanzoneEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="aggiungiCanzone">
<part name="parameters" element="tns:aggiungiCanzone"/>
</message>
<message name="aggiungiCanzoneResponse">
<part name="parameters" element="tns:aggiungiCanzoneResponse"/>
</message>
<message name="trovaPerId">
<part name="parameters" element="tns:trovaPerId"/>
</message>
<message name="trovaPerIdResponse">
<part name="parameters" element="tns:trovaPerIdResponse"/>
</message>
<message name="trovaPerVoti">
<part name="parameters" element="tns:trovaPerVoti"/>
</message>
<message name="trovaPerVotiResponse">
<part name="parameters" element="tns:trovaPerVotiResponse"/>
</message>
<message name="eliminaCanzone">
<part name="parameters" element="tns:eliminaCanzone"/>
</message>
<message name="eliminaCanzoneResponse">
<part name="parameters" element="tns:eliminaCanzoneResponse"/>
</message>
<message name="aggiornaCanzone">
<part name="parameters" element="tns:aggiornaCanzone"/>
</message>
<message name="aggiornaCanzoneResponse">
<part name="parameters" element="tns:aggiornaCanzoneResponse"/>
</message>
<message name="trovaTutteCanzoni">
<part name="parameters" element="tns:trovaTutteCanzoni"/>
</message>
<message name="trovaTutteCanzoniResponse">
<part name="parameters" element="tns:trovaTutteCanzoniResponse"/>
</message>
<message name="trovaPerCategoria">
<part name="parameters" element="tns:trovaPerCategoria"/>
</message>
<message name="trovaPerCategoriaResponse">
<part name="parameters" element="tns:trovaPerCategoriaResponse"/>
</message>
<portType name="CanzoneEJB">
<operation name="aggiungiCanzone">
<input wsam:Action="http://canzoneSanremo/CanzoneEJB/aggiungiCanzoneRequest" message="tns:aggiungiCanzone"/>
<output wsam:Action="http://canzoneSanremo/CanzoneEJB/aggiungiCanzoneResponse" message="tns:aggiungiCanzoneResponse"/>
</operation>
<operation name="trovaPerId">
<input wsam:Action="http://canzoneSanremo/CanzoneEJB/trovaPerIdRequest" message="tns:trovaPerId"/>
<output wsam:Action="http://canzoneSanremo/CanzoneEJB/trovaPerIdResponse" message="tns:trovaPerIdResponse"/>
</operation>
<operation name="trovaPerVoti">
<input wsam:Action="http://canzoneSanremo/CanzoneEJB/trovaPerVotiRequest" message="tns:trovaPerVoti"/>
<output wsam:Action="http://canzoneSanremo/CanzoneEJB/trovaPerVotiResponse" message="tns:trovaPerVotiResponse"/>
</operation>
<operation name="eliminaCanzone">
<input wsam:Action="http://canzoneSanremo/CanzoneEJB/eliminaCanzoneRequest" message="tns:eliminaCanzone"/>
<output wsam:Action="http://canzoneSanremo/CanzoneEJB/eliminaCanzoneResponse" message="tns:eliminaCanzoneResponse"/>
</operation>
<operation name="aggiornaCanzone">
<input wsam:Action="http://canzoneSanremo/CanzoneEJB/aggiornaCanzoneRequest" message="tns:aggiornaCanzone"/>
<output wsam:Action="http://canzoneSanremo/CanzoneEJB/aggiornaCanzoneResponse" message="tns:aggiornaCanzoneResponse"/>
</operation>
<operation name="trovaTutteCanzoni">
<input wsam:Action="http://canzoneSanremo/CanzoneEJB/trovaTutteCanzoniRequest" message="tns:trovaTutteCanzoni"/>
<output wsam:Action="http://canzoneSanremo/CanzoneEJB/trovaTutteCanzoniResponse" message="tns:trovaTutteCanzoniResponse"/>
</operation>
<operation name="trovaPerCategoria">
<input wsam:Action="http://canzoneSanremo/CanzoneEJB/trovaPerCategoriaRequest" message="tns:trovaPerCategoria"/>
<output wsam:Action="http://canzoneSanremo/CanzoneEJB/trovaPerCategoriaResponse" message="tns:trovaPerCategoriaResponse"/>
</operation>
</portType>
<binding name="CanzoneEJBPortBinding" type="tns:CanzoneEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="aggiungiCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerVoti">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaCanzone">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaTutteCanzoni">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaPerCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CanzoneEJBService">
<port name="CanzoneEJBPort" binding="tns:CanzoneEJBPortBinding">
<soap:address location="http://localhost:8080/CanzoneEJBService/CanzoneEJB"/>
</port>
</service>
</definitions>