3-anno/programmazione-distribuita/previous-exams/fornitore/FornitoreWebServiceClient/xml-resources/web-service-references/FornitoreEJB/wsdl/localhost_8080/FornitoreEJBService/FornitoreEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fornitore/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fornitore/" name="FornitoreEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://fornitore/" schemaLocation="http://localhost:8080/FornitoreEJBService/FornitoreEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminaFornitore">
<part name="parameters" element="tns:eliminaFornitore"/>
</message>
<message name="eliminaFornitoreResponse">
<part name="parameters" element="tns:eliminaFornitoreResponse"/>
</message>
<message name="aggiungiFornitore">
<part name="parameters" element="tns:aggiungiFornitore"/>
</message>
<message name="aggiungiFornitoreResponse">
<part name="parameters" element="tns:aggiungiFornitoreResponse"/>
</message>
<message name="aggiornaFornitore">
<part name="parameters" element="tns:aggiornaFornitore"/>
</message>
<message name="aggiornaFornitoreResponse">
<part name="parameters" element="tns:aggiornaFornitoreResponse"/>
</message>
<message name="trovaTuttiFornitori">
<part name="parameters" element="tns:trovaTuttiFornitori"/>
</message>
<message name="trovaTuttiFornitoriResponse">
<part name="parameters" element="tns:trovaTuttiFornitoriResponse"/>
</message>
<message name="trovaFornitorePerId">
<part name="parameters" element="tns:trovaFornitorePerId"/>
</message>
<message name="trovaFornitorePerIdResponse">
<part name="parameters" element="tns:trovaFornitorePerIdResponse"/>
</message>
<message name="trovaFornitorePerCognome">
<part name="parameters" element="tns:trovaFornitorePerCognome"/>
</message>
<message name="trovaFornitorePerCognomeResponse">
<part name="parameters" element="tns:trovaFornitorePerCognomeResponse"/>
</message>
<message name="trovaFornitoriPerMaxordine">
<part name="parameters" element="tns:trovaFornitoriPerMaxordine"/>
</message>
<message name="trovaFornitoriPerMaxordineResponse">
<part name="parameters" element="tns:trovaFornitoriPerMaxordineResponse"/>
</message>
<portType name="FornitoreEJB">
<operation name="eliminaFornitore">
<input wsam:Action="http://fornitore/FornitoreEJB/eliminaFornitoreRequest" message="tns:eliminaFornitore"/>
<output wsam:Action="http://fornitore/FornitoreEJB/eliminaFornitoreResponse" message="tns:eliminaFornitoreResponse"/>
</operation>
<operation name="aggiungiFornitore">
<input wsam:Action="http://fornitore/FornitoreEJB/aggiungiFornitoreRequest" message="tns:aggiungiFornitore"/>
<output wsam:Action="http://fornitore/FornitoreEJB/aggiungiFornitoreResponse" message="tns:aggiungiFornitoreResponse"/>
</operation>
<operation name="aggiornaFornitore">
<input wsam:Action="http://fornitore/FornitoreEJB/aggiornaFornitoreRequest" message="tns:aggiornaFornitore"/>
<output wsam:Action="http://fornitore/FornitoreEJB/aggiornaFornitoreResponse" message="tns:aggiornaFornitoreResponse"/>
</operation>
<operation name="trovaTuttiFornitori">
<input wsam:Action="http://fornitore/FornitoreEJB/trovaTuttiFornitoriRequest" message="tns:trovaTuttiFornitori"/>
<output wsam:Action="http://fornitore/FornitoreEJB/trovaTuttiFornitoriResponse" message="tns:trovaTuttiFornitoriResponse"/>
</operation>
<operation name="trovaFornitorePerId">
<input wsam:Action="http://fornitore/FornitoreEJB/trovaFornitorePerIdRequest" message="tns:trovaFornitorePerId"/>
<output wsam:Action="http://fornitore/FornitoreEJB/trovaFornitorePerIdResponse" message="tns:trovaFornitorePerIdResponse"/>
</operation>
<operation name="trovaFornitorePerCognome">
<input wsam:Action="http://fornitore/FornitoreEJB/trovaFornitorePerCognomeRequest" message="tns:trovaFornitorePerCognome"/>
<output wsam:Action="http://fornitore/FornitoreEJB/trovaFornitorePerCognomeResponse" message="tns:trovaFornitorePerCognomeResponse"/>
</operation>
<operation name="trovaFornitoriPerMaxordine">
<input wsam:Action="http://fornitore/FornitoreEJB/trovaFornitoriPerMaxordineRequest" message="tns:trovaFornitoriPerMaxordine"/>
<output wsam:Action="http://fornitore/FornitoreEJB/trovaFornitoriPerMaxordineResponse" message="tns:trovaFornitoriPerMaxordineResponse"/>
</operation>
</portType>
<binding name="FornitoreEJBPortBinding" type="tns:FornitoreEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminaFornitore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiFornitore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaFornitore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaTuttiFornitori">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaFornitorePerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaFornitorePerCognome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaFornitoriPerMaxordine">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FornitoreEJBService">
<port name="FornitoreEJBPort" binding="tns:FornitoreEJBPortBinding">
<soap:address location="http://localhost:8080/FornitoreEJBService/FornitoreEJB"/>
</port>
</service>
</definitions>