3-anno/programmazione-distribuita/previous-exams/ricambio-auto/RicambioAutoWebClient/xml-resources/web-service-references/RicambioAutoEJB/wsdl/localhost_8080/RicambioAutoEJBService/RicambioAutoEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ricambi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ricambi/" name="RicambioAutoEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://ricambi/" schemaLocation="http://localhost:8080/RicambioAutoEJBService/RicambioAutoEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="aggiornaRicambioAuto">
<part name="parameters" element="tns:aggiornaRicambioAuto"/>
</message>
<message name="aggiornaRicambioAutoResponse">
<part name="parameters" element="tns:aggiornaRicambioAutoResponse"/>
</message>
<message name="cercaPerId">
<part name="parameters" element="tns:cercaPerId"/>
</message>
<message name="cercaPerIdResponse">
<part name="parameters" element="tns:cercaPerIdResponse"/>
</message>
<message name="aggiungiRicambioAuto">
<part name="parameters" element="tns:aggiungiRicambioAuto"/>
</message>
<message name="aggiungiRicambioAutoResponse">
<part name="parameters" element="tns:aggiungiRicambioAutoResponse"/>
</message>
<message name="rimuoviRicambioAuto">
<part name="parameters" element="tns:rimuoviRicambioAuto"/>
</message>
<message name="rimuoviRicambioAutoResponse">
<part name="parameters" element="tns:rimuoviRicambioAutoResponse"/>
</message>
<message name="cercaTuttiRicambioAuto">
<part name="parameters" element="tns:cercaTuttiRicambioAuto"/>
</message>
<message name="cercaTuttiRicambioAutoResponse">
<part name="parameters" element="tns:cercaTuttiRicambioAutoResponse"/>
</message>
<message name="cercaPerCategoria">
<part name="parameters" element="tns:cercaPerCategoria"/>
</message>
<message name="cercaPerCategoriaResponse">
<part name="parameters" element="tns:cercaPerCategoriaResponse"/>
</message>
<portType name="RicambioAutoEJB">
<operation name="aggiornaRicambioAuto">
<input wsam:Action="http://ricambi/RicambioAutoEJB/aggiornaRicambioAutoRequest" message="tns:aggiornaRicambioAuto"/>
<output wsam:Action="http://ricambi/RicambioAutoEJB/aggiornaRicambioAutoResponse" message="tns:aggiornaRicambioAutoResponse"/>
</operation>
<operation name="cercaPerId">
<input wsam:Action="http://ricambi/RicambioAutoEJB/cercaPerIdRequest" message="tns:cercaPerId"/>
<output wsam:Action="http://ricambi/RicambioAutoEJB/cercaPerIdResponse" message="tns:cercaPerIdResponse"/>
</operation>
<operation name="aggiungiRicambioAuto">
<input wsam:Action="http://ricambi/RicambioAutoEJB/aggiungiRicambioAutoRequest" message="tns:aggiungiRicambioAuto"/>
<output wsam:Action="http://ricambi/RicambioAutoEJB/aggiungiRicambioAutoResponse" message="tns:aggiungiRicambioAutoResponse"/>
</operation>
<operation name="rimuoviRicambioAuto">
<input wsam:Action="http://ricambi/RicambioAutoEJB/rimuoviRicambioAutoRequest" message="tns:rimuoviRicambioAuto"/>
<output wsam:Action="http://ricambi/RicambioAutoEJB/rimuoviRicambioAutoResponse" message="tns:rimuoviRicambioAutoResponse"/>
</operation>
<operation name="cercaTuttiRicambioAuto">
<input wsam:Action="http://ricambi/RicambioAutoEJB/cercaTuttiRicambioAutoRequest" message="tns:cercaTuttiRicambioAuto"/>
<output wsam:Action="http://ricambi/RicambioAutoEJB/cercaTuttiRicambioAutoResponse" message="tns:cercaTuttiRicambioAutoResponse"/>
</operation>
<operation name="cercaPerCategoria">
<input wsam:Action="http://ricambi/RicambioAutoEJB/cercaPerCategoriaRequest" message="tns:cercaPerCategoria"/>
<output wsam:Action="http://ricambi/RicambioAutoEJB/cercaPerCategoriaResponse" message="tns:cercaPerCategoriaResponse"/>
</operation>
</portType>
<binding name="RicambioAutoEJBPortBinding" type="tns:RicambioAutoEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="aggiornaRicambioAuto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiRicambioAuto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rimuoviRicambioAuto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaTuttiRicambioAuto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RicambioAutoEJBService">
<port name="RicambioAutoEJBPort" binding="tns:RicambioAutoEJBPortBinding">
<soap:address location="http://localhost:8080/RicambioAutoEJBService/RicambioAutoEJB"/>
</port>
</service>
</definitions>